# .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/
*.pfx

# python
__pycache__/
*.py[cod]
venv/
.venv/
.pytest_cache/

# frontend (react dashboard)
node_modules/
dist/
build/
.env
.env.local

# ortam
.vscode/*
!.vscode/extensions.json
.DS_Store
Thumbs.db