* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family:
    system-ui,
    'Segoe UI',
    Roboto,
    sans-serif;
  background-color: #f3f4f6;
  color: #111827 ;
}

#root {
  min-height: 100vh;
}
